<div class="row" style="margin-top:100px">
	<div class="col-xs-12">
		<img [src]="recipeDetail.imgPath" class="img-responsive" style="height:auto;width:100%;">
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h1>{{recipeDetail.name}}</h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="btn-group">
			<a href="https://store.steampowered.com/app/730/CounterStrike_Global_Offensive/"><button type="button" class="btn btn-primary dropdown-toggle">Download now</button></a>
		</div>
	</div>
</div><br>

<div class="row">
	<div class="col-xs-12">
	{{recipeDetail.description}}
	</div>
</div>
